<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/dashboard">Choral</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse nav navbar-nav navbar-right">
			<a href="#">Profile</a>
			<a href="#/create" ui-sref="create">Create Magic</a>
		</div><!--/.navbar-collapse -->
	</div>
</nav>
<form class="addCard" ng-submit='addPost()'>
	<div>
		<p>Lyrics - Character Limit 150</p>
		<textarea ng-model='newPost.lyrics' placeholder="Express yourself.." cols="30" rows="5" maxlength="150"></textarea>
	</div>
	<div>
		<p>Author</p>
		<input ng-model='newPost.author' placeholder="author">
	</div>
	<p>Select Mood</p>
	<select ng-model="newPost.mood">
		<option value="happy">Happy</option>
		<option value="sad">Sad</option>
	</select>
	<input ng-model="newPost.comments" placeholder="Place comments here">
	<button type="submit">Post</button>
</form>