<toolbar></toolbar>
<form class="addCard" ng-submit='addPost()'>
	<div>
		<md-input-container class="md-block">
			<label>Lyrics - Character Limit 150</label>
			<textarea ng-model="newPost.lyrics" md-maxlength="150" rows="3" md-select-on-focus></textarea>
		</md-input-container>
	</div>
	<md-input-container class="md-block" flex-gt-sm>
		<label>Author</label>
		<input ng-model="newPost.author">
	</md-input-container>
	<md-input-container class="mood">
    <label>Select Mood</label>
    <md-select ng-model="newPost.mood">
      <md-option ng-repeat="mood in moods" value="{{mood}}">{{mood}}</md-option>
    </md-select>
  </md-input-container>
  <md-switch ng-model="data.cb1" aria-label="Switch 1">
    Allow Collaboration: {{ data.cb1 }}
  </md-switch>
	<md-button class="md-raised md-primary" type="submit">Post</md-button>
</form>
