<toolbar></toolbar>
<form name="card" class="addCard" ng-submit='addCard()'>
	<div>
		<md-input-container class="md-block">
			<label>Lyrics - Character Limit 150</label>
			<textarea ng-model="newCard.lyrics" name="lyrics" required md-maxlength="150" rows="7" md-select-on-focus></textarea>
      <div ng-messages="card.lyrics.$error">
        <div ng-message="required">Please enter lyrics.</div>
        <div ng-message="md-maxlength">The name has to be less than 150 characters long.</div>
      </div>
		</md-input-container>
	</div>
  <div>
    <md-input-container class="mood">
      <label>Select Mood</label>
      <md-select ng-model="newCard.mood">
        <md-option ng-repeat="mood in moods" value="{{mood}}">{{mood}}</md-option>
      </md-select>
    </md-input-container>
  </div>
  <md-input-container>
    <md-button class="md-raised md-primary" type="submit">Post</md-button>
  </md-input-container>
</form>
