/* ------------ Variable Declarations ------------ */
body {
  font: 100% "Karla", sans-serif;
  color: #212121; }

/* ------------ Navigation ------------ */
.cta-outer > nav {
  padding-top: 30px;
  padding-right: 10%;
  height: 25px;
  margin-bottom: 5%;
  text-align: right; }

.brand {
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  color: #212121; }

/* ------------ CTA ------------ */
.logo {
  width: 300px; }

.cta-inner {
  clear: both;
  text-align: center;
  background-color: #fafafa;
  padding: 3%; }

a, a:hover, a:active {
  color: #212121;
  text-decoration: none; }

.container > h1 {
  text-align: center; }

.md-button > span {
  font-size: 1.3em;
  text-transform: none; }

.md-menu {
  padding: 0 18px; }

article > h2 {
  font-weight: bold;
  font-size: 1.5em; }

.bar-link {
  color: #212121; }

/* ------------ Feed ------------ */
.card {
  background: #fff;
  border-radius: 2px;
  display: block;
  float: left;
  height: 335px;
  margin: 1rem;
  position: relative;
  width: 300px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.card:hover {
  cursor: pointer;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.card-inner {
  text-align: center; }

md-card md-card-content {
  padding-top: 0px; }

md-card-content > a > p {
  font-family: "Droid Serif", serif;
  padding: 10px 10px;
  font-size: 18px;
  color: #4F514F; }

.time {
  width: 50px;
  text-align: center;
  color: #4b5258;
  font-size: 0.8em; }

.md-subhead {
  letter-spacing: 1.5px; }

md-card-content > span {
  font-family: "Karla", sans-serif; }

h6 {
  text-transform: uppercase;
  font-size: 0.7em;
  color: #9E9E9E;
  margin-bottom: 0; }

.md-title {
  font-size: 18px; }

.t-btn {
  fill: #474a4f; }

.c-btn > .collab-btn, .c-btn > .collab-btn:hover, .c-btn > .md-raised:not([disabled]):hover {
  min-width: 50px;
  min-height: 28px;
  line-height: normal;
  font-weight: bold;
  height: 20px;
  font-size: 0.8em;
  color: #F2F2F2;
  background-color: #32DE7F; }

.c-btn {
  position: absolute;
  bottom: 3%;
  right: auto; }

.favorite {
  position: absolute;
  bottom: 3%;
  right: 15px;
  height: 40px; }

.md-button.md-icon-button {
  height: 52px;
  width: 40px; }

md-card md-card-actions:not(.layout-column) .md-button.md-icon-button:last-of-type {
  margin-right: 0px; }

.card-btn {
  fill: #CBC9CF; }

.q_svg {
  height: 27px; }

.qbig_svg {
  margin: 20px;
  height: 55px; }

.in-ly {
  margin-top: 0;
  margin-bottom: 0; }

form {
  height: 55px;
  width: 1000px; }

textarea#input_0 {
  height: 80px; }

.com {
  margin-left: 10px;
  padding-top: 4px;
  color: #CBC9CF; }

.y-lks {
  height: 20px;
  margin-top: 16px;
  color: #CBC9CF; }

/* ------------ New Card ------------ */
.addCard {
  height: 300px;
  max-width: 500px;
  width: 75%;
  margin: 5% auto; }

.addCard > button[type="submit"] {
  background-color: #F2F2F2;
  border-radius: 3px;
  border: none;
  color: #212121; }

textarea {
  outline: none;
  resize: none;
  overflow: none;
  height: 100px; }

.mood {
  width: 136px; }

.dashboard {
  max-width: 1012px;
  margin: 0 auto; }

/* ------------ Body ------------ */
md-toolbar:not(.md-menu-toolbar) {
  background-color: #F5F5F5; }

.footer-cta {
  text-align: center;
  background-color: #F2F2F2;
  padding: 25px; }

.footer-cta h2 {
  font-weight: bold; }

.footer-cta p {
  margin-top: 10px; }

.footer-cta > button {
  margin-top: 1%; }

footer, footer > nav > a {
  text-align: center;
  margin: 20px;
  color: #212121; }

.index-icon {
  height: 150px; }

.share, .like {
  float: right;
  padding-left: 20px; }

.collab, .follow {
  float: left;
  padding-right: 35px; }

.land-rows {
  max-width: 1020px;
  height: 200px;
  padding-left: 7%;
  padding-right: 7%;
  margin: 20px auto; }

.land-rows > article {
  padding-top: 0.5px; }

/* ---------- Toolbar ---------- */
.y-nav {
  padding: 10px;
  background-color: #f5f5f5; }

.icon-bar {
  background-color: #313131; }

.navbar-header > img {
  height: 50px;
  padding-right: 10px; }

.navbar-brand {
  float: right; }

/* ---------- Profile ---------- */
.profile {
  text-align: center;
  max-width: 1040px;
  border-bottom: 1px solid #212121;
  margin: 0 auto; }

.profile > img {
  height: 225px; }

@media (min-width: 680px) and (max-width: 1011px) {
  .dashboard {
    max-width: 680px;
    margin: 0 auto; } }
@media (max-width: 679px) {
  .dashboard {
    max-width: 335px;
    margin: 0 auto; } }
@media (min-width: 550px) {
  .land-rows > article {
    padding-top: 20px; } }
@media (max-width: 549px) {
  .index-icon {
    margin: auto;
    height: 100px;
    display: block; }

  .land-rows > article {
    padding-top: 0.5px; }

  article > h2 {
    text-align: left; } }

/*# sourceMappingURL=main.css.map */
