<toolbar></toolbar>
<div class="container" layout="column" >
  <div>
    <div>
      <img class="qbig_svg" src="components/img/quote.svg" alt="Quotations" />
    	<h3 class="in-ly">{{card.lyrics}}</h3>
    	<h6 class="md-subhead">
    		{{card.mood}}
    	</h6>
      <h5 class="md-title">
        @<a href="#/profile/{{card.author}}">{{card.author}}</a>
      </h5>
    </div>
    <form name="collab" ng-submit="addCollab()">
      <md-input-container class="md-block">
        <label>Collaborate here</label>
        <textarea required ng-model="body" name="info" md-maxlength="150" rows="5" md-select-on-focus></textarea>
        <div ng-messages="collab.info.$error">
          <div ng-message="required">Please enter lyrics.</div>
          <div ng-message="md-maxlength">The lyrics have to be less than 150 characters long.</div>
        </div>
      </md-input-container>
      <md-button type="submit" class="md-raised md-primary">Add Collab</md-button>
    </form>
  </div>
  <div>
    <div ng-repeat="collab in card.collabs | orderBy: '-likes' ">
      <h5>
        {{collab.body}}
      </h5>
      <md-card-actions>
        <md-button ng-click="like(collab)" id="fav" class="md-icon-button fav-btn" aria-label="Favorite">
          <ng-md-icon icon="favorite" size="24"></ng-md-icon>
        </md-button>
        <span>{{collab.likes}}</span>&nbsp;&nbsp;@{{collab.author}} on {{collab.created | date: 'short'}}
      </md-card-actions>
    </div>
  </div>
</div>
