<nav class="navbar">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#/dashboard">Choral</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse nav navbar-nav navbar-right">
      <md-menu>
        <!-- Trigger element is a md-button with an icon -->
        <span ng-click="$mdOpenMenu($event)">Menu</span>
        <md-menu-content>
          <md-menu-item>
            <md-button class="md-primary">
              <span><a href="#/profile" ui-sref="profile">Profile</a></span>
            </md-button>

          </md-menu-item>
          <md-menu-item>
            <md-button type="submit" class="md-warn" ng-controller="LoginCtrl" ng-click="logout()">
              Log Out
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <a href="#/create" ui-sref="create"><md-button class="md-raised md-primary">Create Magic</md-button></a>
		</div><!--/.navbar-collapse -->
	</div>
</nav>
<div class="profile">
  <img src="{{profile.picture}}" alt="Profile Picture" />
  <h3>{{profile.name}}</h3>
</div>
